.container{
    max-width: 1152px;
    padding-top: 0 15px;
    margin: 0 auto;
}
.section-heading{
    color: var(--secondary);
    text-align: center;
    /* margin-bottom: 1rem; */
    /* line-height: 0.5; */
    background-color: aliceblue;
}
.section-heading span{
    color: var(--primary);
}
.section-heading + p{
    color: var(--ternary);
    font-family: 'Lato', sans-serif;
    /* margin-bottom: 8rem; */
    text-align: center;
}
section.services{
    /* background: var(--light); */
    text-align: center;
}
section.services .card-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-column-gap: 0rem;
    grid-row-gap: 0rem; */
    
}
section.services .card-wrapper .card{
    background: white;
    padding: 3rem 2rem;
    position: relative;
    padding-top: 5rem;
    text-align: center;
    transition: all .3s ease;
    border: solid 0.5px black;
}
section.services .card-wrapper .card img{
    position: absolute;
    top: -3.5rem;
    left: 50%;
    transform: translateX(-50%);
}
section.services .card-wrapper .card h2{
    font-weight: 400;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}
section.services .card-wrapper .card p{
    font-family: 'Lato', sans-serif;
    color: var(--ternary);
    line-height: 1.6rem;
}

section.services .card-wrapper .card:hover{
    background: skyblue;

}
section.services .card-wrapper .card:hover h2{
    color: (var(--pure));
}
section.services .card-wrapper .card:hover p{
    color: var(--pure);
}
@media(max-width: 700px)
{
    section.services .card-wrapper{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(280px,1fr));
        /* grid-column-gap: 2rem; */
        /* grid-row-gap: -2rem; */
    }
}
